<div class="container" style="margin-top: 100px;">
    <h3>User</h3>
    <table class="table">
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Password</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <% _.each(users, function(user) { %>
        <tr data-id="<%= user.id %>" data-model="user">
            <td><%= user.username %></td>
            <td><%= user.userEmail %></td>
            <td><%= user.userPassword %></td>
            <td><a href="/user/show/<%= user.id %>" class="btn btn-sm btn-primary">Mostrar</a></td>
            <td><a href="/user/edit/<%= user.id %>" class="btn btn-sm btn-warning">Editar</a></td>
            <td><a href="/user/destroy/<%= user.id %>" class="btn btn-sm btn-danger">Borrar</a></td>
        </tr>
        <% }) %>
    </table>
</div>
