<div class='container' style="margin-top: 100px;">
    <h1><%= user.username %></h1>
    <h3><%= user.userEmail %></h3>
    <hr>
    <h3><%= user.userPassword %></h3>
    <a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Editar</a>
    <a class="btn btn-medium btn-danger" href="/session/destroy/<%= user.id %>">Borrar</a>
</div>
